html,
body {
    height: 100%;
    width: 100%;
    padding: 1rem;
    margin: 0;
    background: #fafafa;
    font-family: "Helvetica Neue", arial, sans-serif;
    font-weight: 400;
    color: #444;
    background: rgb(63, 63, 63);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    justify-content: center;
    height: 100%;
}

/* General Purpose Styles */

.led-btn {
  border: none;
  border-radius: 0.4rem;
  outline: none;
  transition: 0.0001s; /* Makes it slightly more realistic*/
}

.led-btn--active {
  opacity: 1;
}

.led-btn--inactive {
  opacity: 0.6;
}

/* Mixer Components */

.app-mixer {
  display: grid;
  align-items: center;
  grid-template-rows: repeat(4, 1fr);
  width: 12rem;
}

.app-mixer__channel {
  align-items: center;
  display: grid;
  grid-template-columns: 9fr 1fr;
  height: 100%;
  width: 100%;
}

/* CSS Tricks article helped with the styling:
    https://css-tricks.com/styling-cross-browser-compatible-range-inputs-css/
*/
.mixer-channel__slider {
  -webkit-appearance: none;
  background: rgb(91, 91, 91);
  border-radius: .4rem;
  border: none;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.2);
  height: 1rem;
  outline: none;
  width: 95%;
}

.mixer-channel__slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6rem;
  width: 2rem;
  outline: none;
  background: url('../assets/svg/vertical-slider.svg') no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: col-resize;
}

.mixer-channel__slider::-moz-range-thumb {
  height: 6rem;
  width: 2rem;
  outline: none;
  border: none;
  background: url('../assets/svg/vertical-slider.svg') no-repeat;
  background-size: cover;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
  cursor: col-resize;
}



.mixer-channel__mute-btn {
  display: inline-block;
  height: 11rem;
  width: 1.4rem;
  margin: 0px;
}

/* Canvas Component / Sub Components */
.app-canvas {
  display: flex;
  flex-direction: row;
}

.app-canvas__canvas {
  background: rgb(91, 91, 91);
  border-radius: 0.4rem;
  box-shadow: inset 0px 3px 4px rgba(0, 0, 0, 0.2);
}

.canvas-button__container {
    align-items: center;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-items: center;
}

.canvas-button {
  display: block;
  margin: 0 .3rem;
  width: 11rem;
  height: 11rem;
}

.canvas-controls {
  display: grid;
  grid-template-rows: 3fr 1fr;
  margin: 0 1rem;
  width: 8rem;
}

.canvas-controls__tempo-slider {
  display: inline-block;
  height: 90%;
  -webkit-appearance: slider-vertical;
}

.canvas-controls__play-pause {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.play-pause__btn {
  height: 45%;
  width: 100%;
}