html, body {
	height: 100%;
	width: 100%;
	padding: 1rem;
	margin: 0;
	background: #FAFAFA;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
  color: #444;
  background: rgb(63, 63, 63);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
}
